/* ---- Products Page - css  -----*/
.products-list {
  margin: 20px auto;
  width: 90%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: crimson;
  border-radius: 5px;
}
.card {
  width: 300px;
  height: 400px;
  border: 1px solid black;
  border-radius: 5px;
  overflow: hidden;
  padding: 10px;
  margin: 40px 20px;
  background-color: skyblue;
}
.product-image {
  width: 100%;
  height: 240px;

  display: block;
}
.product-name {
  text-decoration: uppercase;
  margin: 10px 0px;
}
.product-price {
  margin: 10px 0px;
  padding-bottom: 20px;
  font-size: 18px;
  line-height: 30px;
}
.product-add-button {
  font-weight: 700;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: black;
  color: white;
  width: 100%;
  height: 40px;
  display: block;
  cursor: pointer;
  text-transform: uppercase;
  margin: auto;
}
.product-add-button:hover {
  background-color: green;
}
.product-add-button:active {
  transform: translateY(2px);
}

/* ---- Home Page - css  -----*/
.home-page,
.signup-page,
.about-page {
  margin: 20px auto;
  width: 90%;
  display: block;
  align-items: center;
  height: 500px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: crimson;
  border-radius: 5px;
  font-size: 50px;
  color: white;
  font-family: Impact;
}

/* ----- Cart Page ------ */

.cart-items {
  margin: 30px auto;
  width: 50%;
  background-color: #666;
  border: 2px solid black;
  border-radius: 5px;
}
.cart-items-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 40px;
  height: 50px;
  border-bottom: 2px solid black;
}
.cart-items-empty {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
  padding-top: 20px;
  padding-bottom: 20px;
}
.cart-items-image {
  width: 100px;
  height: auto;
  border: 2px solid black;
  margin-right: 10px;
}
.cart-item-list {
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 20px;
  font-weight: 700;
  margin-left: 5%;
}
.cart-items-name,
.cart-items-actions {
  width: 25%;
}

.cart-items-add,
.cart-items-remove {
  width: 30px;
  margin-right: 15px;
  font-weight: 700;
  border: none;
  border-radius: 3px;
  font-size: 18px;
  color: white;
  cursor: pointer;
}
.cart-items-add {
  background-color: green;
}

.cart-items-remove {
  background-color: red;
}
.cart-items-add:active {
  transform: translateY(2px);
}

.cart-items-remove:active {
  transform: translateY(2px);
}
.cart-items-total-price-name {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 22px;
  font-size: 20px;
  font-weight: 700;
  border-top: 2px solid black;
}
.clear-cart {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  margin-right: 10px;
}
.clear-cart-button {
  border: none;
  border-radius: 5px;
  background-color: black;
  height: 30px;
  width: 100px;
  font-size: 18px;
  color: white;
  cursor: pointer;
}
.clear-cart-button:hover {
  background-color: crimson;
}

.checkout-details {
  display: flex;
  justify-content: center;
}
.checkout {
  padding: 15px;
  margin-bottom: 15px;
  background-color: blue;
  color: white;
  font-size: 18px;
  font-weight: 700;
  border-radius: 10px;
  border: none;

  cursor: pointer;
}
.checkout:active {
  transform: translateY(2px);
}

/*   ------- Checkout Page ------   */

.row {
  display: -ms-flexbox;
  display: flex;

  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 20px;
}

.col-25 {
  -ms-flex: 25%;
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%;
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%;
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.container {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

input[type="text"] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn {
  background-color: #04aa6d;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: #45a049;
}

a {
  color: #2196f3;
}

hr {
  border: 1px solid lightgrey;
}

span.price {
  float: right;
  color: grey;
}

@media (max-width: 780px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}
